<div class="boxed">

  <!--CONTENT CONTAINER-->
  <!--===================================================-->
  <div id="content-container">

    <!--Page content-->
    <!--===================================================-->
    <div id="page-content">
      <h1 class="text-thin">EMRA Alert Emulator</h1>
      <h4 class="text-thin">Click on any of the FHIR Communications below to Activate/Deactivate Alert</h4>

      <div class="row">
        <div class="row demo-nifty-panel">

          <div ng-click="alertClicked('0')" class="col-md-6 col-lg-3">
            <!--CDC Alert Panel-->
            <!--===================================================-->
            <div class="panel  {{cdcalert}}">
              <div class="panel-heading">
                <h3 class="panel-title">CDC Alert</h3>
              </div>
              <div class="panel-body">
                <p>U.S. Multi-state Measles Outbreak:<br />
                  Ensure all patients are up to date on MMR vaccine* and other vaccines.</p>
              </div>
            </div>
            <!--===================================================-->
            <!--End CDC Alert Panel-->
          </div>

          <div ng-click="alertClicked('1')" class="col-md-6 col-lg-3">
            <!--New Generic Drug Available Panel-->
            <!--===================================================-->
            <div class="panel  {{newgeneric}}">
              <div class="panel-heading">
                <h3 class="panel-title">New Generic Drug Available</h3>
              </div>
              <div class="panel-body">
                <p> Azor, treats high blood pressure. Available on October 25, 2016.</p>
              </div>
            </div>
            <!--===================================================-->
            <!--End New Generic Drug Available Panel-->
          </div>

          <div ng-click="alertClicked('2')" class="col-md-6 col-lg-3">
            <!--New Vaccine Panel-->
            <!--===================================================-->
            <div class="panel  {{newvaccine}}">
              <div class="panel-heading">
                <h3 class="panel-title">New Vaccine</h3>
              </div>
              <div class="panel-body">
                <p>BCG, or bacille Calmette-Guerin, is a vaccine for tuberculosis (TB) disease.</p>
              </div>
            </div>
            <!--===================================================-->
            <!--End New Vaccine Panel-->
          </div>

          <div ng-click="alertClicked('3')" class="col-md-6 col-lg-3">
            <!--FDA Drug Recall Panel-->
            <!--===================================================-->
            <div class="panel  {{fdarecall}}">
              <div class="panel-heading">
                <h3 class="panel-title">FDA Drug Recall</h3>
              </div>
              <div class="panel-body">
                <p>[2/16/2016] The U.S. Food and Drug Administration is alerting health care
                  professionals of a voluntary recall of morphine sulfate.</p>
              </div>
            </div>
            <!--===================================================-->
            <!--End FDA Drug Recall Panel-->
          </div>

        </div>
      </div>

    </div>
    <!--===================================================-->
    <!--End page content-->

  </div>
  <!--===================================================-->
  <!--END CONTENT CONTAINER-->

</div>


