<div class="row marketing">
  <h1>FHIR</h1>

  <div  class="container">
    <div ng-if="feedbackMsg">
      <pre>{{ feedbackMsg }}</pre>
    </div>
  </div>
  
  <div ng-controller="ChatCtrl">
	<div data-ng-model="fireChanges()"></div>    
	<div>{{ fireText }}</div>
  </div>
  
<div ng-controller="ChatCtrl">
  	<button ng-click="resetFire()">RESET ALERT</button>
</div>

  <h3>Patient Data</h3>
  <div  class="container">
    <div ng-if="id">
      <pre>Resource Type:{{ id }}</pre>
      <pre>ID:{{ id }}</pre>
      <pre>Last updated:{{ lastUpdated }}</pre>
      <pre>Resource Type:{{ resourceType }}</pre>
      <pre>Record count:{{ total }}</pre>
      <pre>Patient #1 Fullname:  {{ name }}</pre>
      <pre>Patient #1 Data: {{ patient1 }}</pre>
    </div>
  </div>

  <div  class="container">
    <div ng-if="singlePatient">
      <pre>Single Patient:{{ singlePatient }}</pre>
    </div>
  </div>

  <h3>Patient Condition Data</h3>
  <div  class="container">
    <div ng-if="patienCondition">
      <pre>Single Patient:{{ patienCondition }}</pre>
    </div>
  </div>

  <h3>Complete Patient List - GA TECH FHIR</h3>
  <div  class="container">
    <div ng-if="allPatients">
      <pre>{{ allPatients }}</pre>
    </div>
  </div>


</div>
