
<!--
<div class="row marketing">
  <h4>Patient Demographics</h4>
  <p>
     Patient Demographics goes here
  </p>
</div> -->

<link rel="stylesheet" type="text/css" href="styles/Patients.css">
<div id="mainNav">
  <div id="topNav">
    <div id="menu">
      <h3 style="color: #9d9d9d; margin-left: 11px">Patient Demographics</h3>
      <ul style="margin-top: 25px; list-style-type: none">
        <li>Home</li>
        <li style="background-color: #9d9d9d; width: 100px; margin: 6px 0">Profile</li>
        <li style="margin: 6px 0">Recent Illness</li>
        <li style="margin: 6px 0">Medical History</li>
        <li style="margin: 6px 0">Medication</li>
        <li style="margin: 6px 0">Physical Exams</li>
        <li style="margin: 6px 0">Alergies</li>
        <br />
        <li style="margin: 13px 0">Settings</li>
      </ul>
    </div>

    <div id="textFields">
      <br />
      <form name="message" method="post">
        <section style="float: left">
          <div style="float:left; margin-right:10px;">
            <label for="patient">Patient #:</label>
            <input id="patient" type="text" value={{patientResourceId}} name="patient" readonly="readonly" disabled="disabled" size="7">
          </div>
          <div style="float:left; margin-right:10px;">
            <label for="lname">Last name:</label>
            <input id="lname" type="text" value={{patientLastname}} name="lname" readonly="readonly" disabled="disabled">
          </div>
          <div style="float:left; margin-right:10px;">
            <label for="mi">Middle name:</label>
            <input id="mi" type="text" value={{patientMiddlename}} name="middlename" readonly="readonly" disabled="disabled" size="1">
          </div>
          <br />
          <label for="patientaddressinfo">Address:</label>
          <input id="address1" type="text" value={{patientAddressLine}} name="address1" style="margin-bottom: 5px; width:320px" disabled="disabled" readonly="readonly" size="60">
          <input id="address2" type="text" value={{patientAddressCity}} name="address2" style="margin-bottom: 5px; width:220px" disabled="disabled" readonly="readonly" size="60">
          <input id="state" type="text" value={{patientAddressState}}  name="state" style="margin-bottom: 5px; width:100px" disabled="disabled" readonly="readonly" size="60">
          <input id="postalCode" type="text" value={{patientAddressPostalCode}}  name="postalCode" style="margin-bottom: 5px; width:100px" disabled="disabled" readonly="readonly" size="60">

          <label for="homephone" style="text-align:right; float:left; margin-right: 7px">Home phone #:</label>
          <input id="homephone" style="float: left; margin-bottom: 5px" type="text" disabled="disabled" value={{patientHomePhone}} readonly="readonly" name="homephone">
          <br />
          <br />
          <label for="workphone" style="text-align:right; float:left; margin-right: 12px">Work phone #:</label>
          <input id="workphone" style="float: left; margin-bottom: 5px" type="text" value={{patientWorkPhone}} disabled="disabled" readonly="readonly" name="workphone">
          <br />
          <br />
          <label for="email" style="text-align:right; float:left ; margin-right: 1px">Email Address:</label>
          <input id="email" style="float: left; margin-bottom: 5px; width:320px" type="text" value={{patientEmail}} disabled="disabled" readonly="readonly" name="email">

        </section>

        <section style="float: left">
          <div style="float:left; margin-right:10px;">
            <label for="fname">First name:</label>
            <input id="fname" type="text" value={{patientFirstname}} name="firstname" disabled="disabled" readonly="readonly">
          </div>
          <div style="float:left; margin-right:10px;">
            <label for="chart">Chart #:</label>
            <input id="chart" type="text" value={{patientChartId}} name="chart" disabled="disabled" readonly="readonly" size="6">
          </div>
          <br />
          <div style="float:left; margin-right:10px; margin-bottom: 5px">
            <label for="dob">Date of birth:</label>
            <input id="dob" type="text" value={{patientBirthDate}} name="dob" disabled="disabled" readonly="readonly">
          </div>
          <div style="float:left; margin-right:10px;">
            <label for="latupdated">Last updated:</label>
            <input id="lastupdate" type="text" value={{patientLastUpdated}}  name="lastupdated" disabled="disabled" readonly="readonly" size="6">
          </div>
          <br />
          <div style="float:left; margin-right:10px; margin-bottom: 8px">
            <label for="sex" style="text-align:right; float:left; margin-right: 92px">Sex:</label>
            <select id="sex">
              <option value="male">{{patientGender}}</option>
            </select>
          </div>
          <br />
          <div style="float:left; margin-right:10px; margin-bottom: 8px">
            <label for="marital" style="text-align:right; float:left; margin-right: 27px">Marital status:</label>
            <select id="marital">
              <option value="single">unk</option>
            </select>
          </div>
          <br />
        </section>
      </form>
    </div>
  </div>




  <!--
        <div id="rightNav">
  =======
            </div>
            <br />
            <br />
            <label for="nextappt" style="text-align:right; float:left; margin-right: 11px">Next appt.:</label>
            <input id="nextappt" style="float: left; margin-bottom: 5px" disabled="disabled" type="text" value="" name="nextappt" readonly="readonly" size="16">
          </section>
        </form>

      </div>

      <div id="rightNav">
  >>>>>>> d80c7e8d8ff4cecf724d52a9437acab4a3a8cc86

        <div id="picture">
        </div>
        <br />
        <br />
        <br />
        <div id="fhirAlert">
          <br />
          <center><p>Applicable FHIR - Alerts</p></center>
        </div>
  -->

  <div id="fhirPopulationAlerts">
    <h2 style="color: #9d9d9d; margin-left: 8px">FHIR - Population Health Alerts</h2>
    <div id="row1">
      <div id={{cdcalert}}>
        <p style="font-weight:normal"><strong>CDC Alert</strong><br />
          U.S. Multi-state Measles Outbreak:<br />
          Ensure all patients are up to date on MMR vaccine* and other vaccines</p>
      </div>
      <div id={{newgeneric}}>
        <p style="font-weight:normal"><strong>New Generic Drug Available</strong><br />
          Azor &reg;<br />
          Treats high blood pressure. Available on October 25, 2016</p>
      </div>
    </div>
    <div id="row2">
      <div id={{newvaccine}}>
        <p style="font-weight:normal"><strong>New Vaccine</strong><br />
          BCG VACCINE:<br />
          BCG, or bacille Calmette-Guerin, is a vaccine for tuberculosis (TB) disease</p>
      </div>
      <div id={{fdarecall}}>
        <p style="font-weight:normal"><strong>FDA Drug Recall</strong><br />
          [2/16/2016] The U.S. Food and Drug Administration is alerting health care<br />
          professionals of a voluntary recall of morphine sulfate</p>
      </div>
    </div>
</div>

<div style="float:left; margin-left:10px;">
  <label for="feedback" style="text-align:left; float:left; margin-left: 10px">MiNH Communications Status:{{feedbackMsg}}</label>
</div>


<!-- <h3>Patient Demographics</h3>
<div  class="container">
  <div ng-if="id0">
    <pre>Resource Type:{{ id0 }}</pre>
    <pre>ID:{{ id0 }}</pre>
    <pre>Last updated:{{ lastUpdated0 }}</pre>
    <pre>Resource Type:{{ resourceType0 }}</pre>
    <pre>Record count:{{ total0 }}</pre>
    <pre>Patient #1 Fullname:  {{ name0 }}</pre>
    <pre>Patient #1 Data: {{ patient0 }}</pre>
  </div>
</div>
<div  class="container">
  <div ng-if="id1">
    <pre>Resource Type:{{ id1 }}</pre>
    <pre>ID:{{ id1 }}</pre>
    <pre>Last updated:{{ lastUpdated1 }}</pre>
    <pre>Resource Type:{{ resourceType1 }}</pre>
    <pre>Record count:{{ total1 }}</pre>
    <pre>Patient #2 Fullname:  {{ name1 }}</pre>
    <pre>Patient #2 Data: {{ patient1 }}</pre>
  </div>
</div>
<div  class="container">
  <div ng-if="id2">
    <pre>Resource Type:{{ id2 }}</pre>
    <pre>ID:{{ id2 }}</pre>
    <pre>Last updated:{{ lastUpdated2 }}</pre>
    <pre>Resource Type:{{ resourceType2 }}</pre>
    <pre>Record count:{{ total2 }}</pre>
    <pre>Patient #2 Fullname:  {{ name2 }}</pre>
    <pre>Patient #2 Data: {{ patient2 }}</pre>
  </div>
</div>
<div  class="container">
  <div ng-if="id3">
    <pre>Resource Type:{{ id3 }}</pre>
    <pre>ID:{{ id3 }}</pre>
    <pre>Last updated:{{ lastUpdated3 }}</pre>
    <pre>Resource Type:{{ resourceType3 }}</pre>
    <pre>Record count:{{ total3 }}</pre>
    <pre>Patient #2 Fullname:  {{ name3 }}</pre>
    <pre>Patient #2 Data: {{ patient3 }}</pre>
  </div>
</div>
<div  class="container">
  <div ng-if="id4">
    <pre>Resource Type:{{ id4 }}</pre>
    <pre>ID:{{ id4 }}</pre>
    <pre>Last updated:{{ lastUpdated4 }}</pre>
    <pre>Resource Type:{{ resourceType4 }}</pre>
    <pre>Record count:{{ total4 }}</pre>
    <pre>Patient #2 Fullname:  {{ name4 }}</pre>
    <pre>Patient #2 Data: {{ patient4 }}</pre>
  </div>
</div>

-->

